
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 83%;
    --input: 215 28% 83%;
    --ring: 221 83% 53%;
    --chart-1: 221 83% 53%;
    --chart-2: 0 72% 51%;
    --chart-3: 142 76% 36%;
    --chart-4: 45 93% 47%;
    --chart-5: 262 88% 66%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 215 28% 91%;
    --card: 220 26% 18%;
    --card-foreground: 215 28% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 215 28% 91%;
    --primary: 214 100% 66%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 215 28% 91%;
    --muted: 217 33% 17%;
    --muted-foreground: 218 10% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 215 28% 91%;
    --destructive: 0 100% 67%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 15% 29%;
    --input: 216 15% 29%;
    --ring: 214 100% 66%;
    --chart-1: 214 100% 66%;
    --chart-2: 0 100% 67%;
    --chart-3: 142 71% 45%;
    --chart-4: 48 96% 53%;
    --chart-5: 262 88% 66%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
